.app__button{
   transition: all .5s ease;
   background-color: #1DD844;
   box-shadow: 0px 0px 10px 0px #1DD844;
   line-height: 50px;
   padding: 0px 20px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 500;

   &:hover{
      box-shadow: 0px 0px 15px 2px #1DD844;
   }

   &:active{
      box-shadow: 
      0px 4px 4px 0px #00000040 inset,  
      0px 0px 10px 0px #1DD844;
   }
}

.transperent{
   box-shadow:none;
   color: white;
   background-color: inherit;
   border: 1px solid white;

   &:hover{
      color: #C3F33B;
      box-shadow: none;
      border: 1px solid #C3F33B;
   }

   &:active{
      color: #C3F33B;
      box-shadow: none;
      border: 1px solid #C3F33B;
      background-color: #E0FFAC0D;
   }
}