@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.nav{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 55px;
   z-index: 500;


   &__button{
      display: none;
   }

   &__container{
      @include container;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      position: relative;
   }

   &__logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $text_color;
      font-size: 25px;
      font-weight: 400;
      width: 100px;
      z-index:9999;

   }

   &__text{
      display: flex;
      width: 60%;
      justify-content: space-between;
      align-items: center;
      font-size: 23px;

      li{
         a{
            color: $grey_color;
         }
      }
      
   }
}


//adaptive

@media (max-width:1000px) {
   .nav{
   
      &__text {
         transition: all .5s ease;
         padding: 0 30px;
         position: absolute;
         right: 0;
         top: -1000%;
         height: 400px;
         width: 95%;
         background-color: #293344;
         flex-direction: column;
         z-index: 980;
         justify-content: center;
         align-items: start;
         border-bottom-left-radius: 20px;
         li{
            padding: 20px 0;
         }

         li:last-child{
            padding: 0;
            margin-top: 100px;
         }
   
      }


      &__text.active{
         top: 0;
      }

      &__button{
        
         display: block;
         width: 30px;
         height: 20px;
         position: relative;
         z-index: 999;
         

         .button{
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            top: 9px;

         }

         &::after,
         &::before{
         transition: all .5s ease;
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #fff;
         }

         &::after{
          top: 0;
         }

        

         &::before{
          bottom: 0;
         }

        

      }

      &__button.active{
        
         &::after{
            top: 9px;
	         transform: rotate(45deg);
           }

         &::before{
            transform: rotate(-45deg);
            bottom: 9px;
         }
      }
   }
}

