$grey_color: #CECECE;
$background_color:#1d2532;
$text_color: #fff;
$button_background_color:#1DD844;
$button_transparent_color:#C3F33B;
$about_squere_bgc_color:#303b4d;
$about_squere_after_color: #2a3445;