@import '../../styles/variables';

.about_square{
   color: $text_color;
   position: relative;
   background-color: $about_squere_bgc_color;
   border-radius: 20px;
   width: 300px;
   height: 310px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   justify-self: center;
  
   &::after{
      content: '';
      position: absolute;
      bottom: -20px;
      left:50%;
      transform:translate(-50%, 0);
      width: 90%;
      height: 50px;
      border-radius: 20px;
      background-color: $about_squere_after_color;
      z-index: -2;
   }


   &__text{
      padding: 20px;
      line-height: 25px;
   }
}


@media (max-width:500px) {
   .about_square{
      width: 250px;
      height: 260px;
   }
}