@import '../../styles/mixins';
@import '../../styles/variables';

.header{
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container{
    @include container;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }


  &__image{
    z-index: 2;
    right: 0;
    position: absolute;
  }

  &__text{
    z-index: 4;
  }


  &__title{
    font-size: 60px;
    //!!! font-size: calc(40px + 20px * ((100px - 320px) / (1280px - 320px)));
    color: white;
    font-weight: 400;

    span{
      font-weight: 700;
    }
  }

  &__subtitle{
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: $grey_color;
    line-height: 27px;
  }

  &__button{
    padding-top: 60px;
  }
}


// adaptive

@media (max-width:1000px) {
  .header{
    display: block;
    text-align: center;
    margin-bottom: 200px;
    &__container{
      flex-direction: column;
      align-items: center;
    }

    &__title{
      padding-top: 150px;
    }

    &__subtitle{
      padding-top: 600px;
    }

    &__image{
      right: inherit;
      top: 400px;
    }
  }
}